.git
.agents
.codex
.ruff_cache
.venv
__pycache__/
*.py[cod]

data/desinfo_vacinal/inference/
data/desinfo_vacinal/raw/
data/desinfo_vacinal/train/data_analysis.ipynb
models/
mlflow.db
mlruns/
mlartifacts/

build/
dist/
wheels/
*.egg-info/
